<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/angular_js/angular.min.js"></script>
    <link rel="stylesheet" href="../js/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../js/bootstrap/css/bootstrap.css">
    <script src="../js/bootstrap/js/bootstrap.js"></script>
</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="listApp" ng-controller="listCtrl" ng-init="listpage(1)">
<span>{{msg}}</span>
名称：<input type="text" ng-model="name"/> <input type="button" value="查询" ng-click="listpage(1)"/>
<table id="dataList" class="table table-bordered table-striped table-hover dataTable">
    <thead>
    <tr>
        <td class="" style="padding-right:0px"></td>
        <td>课程编号</td>
        <td>课程名称</td>
        <td>类型</td>
        <td>讲课老师</td>
        <td>开课日期</td>
        <td>状态</td>
        <td>图片</td>
        <td>操作
            <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal"
                    ng-click="user={}"><i class="fa fa-file-o"></i> 新建
            </button>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
        <td><input type="checkbox" ng-click="deleteId($event,user.id)"></td>
        <td ng-bind="user.id"></td>
        <td ng-bind="user.name"></td>
        <td ng-bind="user.type"></td>
        <td ng-bind="user.teacher"></td>
        <td ng-bind="user.starttime"></td>
        <td>
            <span ng-if="user.state==1">
                已发布
            </span>
            <span ng-if="user.state==0">
               未发布
            </span>
        </td>
        <td><img ng-src="{{user.img}}" width="50px" height="50px"></td>
        <td class="text-center">
            <a href="upload.html#?id={{user.id}}">上传</a>
            <input type="button" ng-if="user.state==1" value="下架" ng-click="xia(user.id)">
            <input type="button" ng-if="user.state==0" value="上架" ng-click="shang(user.id)">
            <a href="/deleteBrand?id={{user.id}}">超链接删除</a>
            <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal"
                    ng-click="findOne(user.id)">修改
            </button>
        </td>
    </tr>
    <tbody>
    <tr>
        <td class="text-center" colspan="7">
            <input type="button" value="首页" ng-click="listpage(1)"/>
            <input type="button" value="上一页" ng-click="listpage(pageInfo.prePage)"/>
            <span ng-repeat="n in pageInfo.navigatepageNums">
                <input type="button" value="{{n}}" ng-click="listpage(n)"/>
            </span>
            <input type="button" value="下一页" ng-click="listpage(pageInfo.nextPage)"/>
            <input type="button" value="尾页" ng-click="listpage(pageInfo.pages)"/>
        </td>
    </tr>
</table>
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">用戶编辑</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped" width="800px">
                    <tr>
                        <td>课程名称</td>
                        <td><input class="form-control" placeholder="课程名称" ng-model="user.name"></td>
                    </tr>
                    <tr>
                        <td>教课老师</td>
                        <td>
                            <select ng-model="user.teacher">
                                <option value="范雅婷">范雅婷</option>
                                <option value="梁成">梁成</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>课程类型</td>
                        <td>
                            <select ng-model="user.type">
                                <option value="后端">后端</option>
                                <option value="前端">前端</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>开课日期</td>
                        <td><input class="form-control" placeholder="开课日期" ng-model="user.starttime"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>


<script>
    var app = angular.module("listApp", []);
    app.controller("listCtrl", function ($scope, $http) {
        $scope.listpage=function (pageNo) {
            var name=$scope.name==undefined?"":$scope.name;
            $http.get("/getcourseList?name="+name+"&pageNo="+pageNo+"&pageSize=2").then(function (response) {
                var pageInfo=response.data;
                $scope.users=pageInfo.list;
                $scope.pageInfo=pageInfo;
            })
        }
        $scope.shang=function (id) {
            $http.get("/shangjia?id="+id).then(function () {
                $scope.listpage(1);
            })
        }
        $scope.xia=function (id) {
            $http.get("/xiajia?id="+id).then(function () {
                $scope.listpage(1);
            })
        }
        $scope.save=function () {
            $http.post("/insertcourse",$scope.user).then(function (response) {
                if(response.data.success){
                    alert(response.data.message);
                    $scope.listpage(1);
                }else{
                    alert(response.data.message);
                }
            })
        }
    });
</script>